@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica;
}
/*Cabecalho*/
header {
    background-image: linear-gradient(to bottom, grey,salmon);
    color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid rgba(255, 61, 39, 0.767);
}
header > h1 {
    text-shadow: 0px 2px 10px;
}
/*Grid de Produtos*/
.container {
    background-color: #eee;
    min-height: 60vh;
    padding: 50px;
}

.products-container {
    max-width: 1200px;
    margin: 0 auto;

}

.card {
    display: inline-block;
    width: 31%;
    margin: 1% 1%;
    padding: 15px;
}

.product-image {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

#img-1 {
    background-image: url('../img/tenis1.jpg');
}
#img-2 {
    background-image: url('../img/tenis2.jpg');
}
#img-3 {
    background-image: url('../img/tenis3.jpg');
}
#img-4 {
    background-image: url('../img/tenis4.jpg');
}
#img-5 {
    background-image: url('../img/tenis5.jpg');
}
#img-6 {
    background-image: url('../img/tenis6.jpg');
}

h3 {
    margin-bottom: 10px;
    color: rgba(255, 61, 39, 0.767);
    border-left: 5px solid grey;
    padding-left: 7px;
    font-size: 24px;
}

.card p {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
    
}

.btn {
    display: block;
    width: 100%;
    background-color: salmon;
    color: grey;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    
}

.btn:hover {
    background-color: grey;
    color: salmon;
    transition: 2s;
}

/*Footer*/
footer {
    background-image: linear-gradient(to bottom, salmon,grey);
    color: rgba(0, 0, 0, 0.5);
    border-top: 2px solid rgba(255, 61, 39, 0.767);
    text-align: center;
    padding: 80px;
}